In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
data = pd.read_csv("heart.csv")

In [4]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
data.shape

(303, 14)

In [6]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
data["target"].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [8]:
X = data.drop(columns="target", axis=1)
y = data["target"]

In [9]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [10]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [11]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y, random_state=3)

In [21]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

In [22]:
print(y.shape, y_train.shape, y_test.shape)

(303,) (242,) (61,)

In [26]:
models = [LogisticRegression(max_iter=1000), SVC(kernel="linear"), KNeighborsClassifier(), RandomForestClassifier()]

In [27]:
def compare_models_train_test():
    for model in models:
        model.fit(X_train, y_train)
        test_data_prediction = model.predict(X_test)
        accuracy = accuracy_score(y_test, test_data_prediction)
        print("Accuracy score of the ", model, "=", accuracy)

In [28]:
compare_models_train_test()

Accuracy score of the  LogisticRegression(max_iter=1000) = 0.7704918032786885
Accuracy score of the  SVC(kernel='linear') = 0.7704918032786885
Accuracy score of the  KNeighborsClassifier() = 0.6557377049180327
Accuracy score of the  RandomForestClassifier() = 0.7704918032786885

In [32]:
# Cross Validation of Logistic Regression
cv_score_lr = cross_val_score(LogisticRegression(max_iter=1000), X, y, cv=5)
print("Cross Validation score of Logistic Regression: ",cv_score_lr)
mean_accuracy_lr = sum(cv_score_lr)/len(cv_score_lr)
mean_accuracy_lr = mean_accuracy_lr*100
mean_accuracy_lr = round(mean_accuracy_lr, 2)
print("Mean accuracy of Logistic Regression: ",mean_accuracy_lr)

Cross Validation score of Logistic Regression:  [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Mean accuracy of Logistic Regression:  82.83

In [33]:
# Cross Validation of SVC
cv_score_svc = cross_val_score(SVC(kernel="linear"), X, y, cv=5)
print("Cross Validation score of SVC: ",cv_score_svc)
mean_accuracy_svc = sum(cv_score_svc)/len(cv_score_svc)
mean_accuracy_svc = mean_accuracy_svc*100
mean_accuracy_svc = round(mean_accuracy_svc, 2)
print("Mean accuracy of SVC: ",mean_accuracy_svc)

Cross Validation score of SVC:  [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean accuracy of SVC:  82.83

In [34]:
# Cross Validation of KNN
cv_score_knn = cross_val_score(KNeighborsClassifier(), X, y, cv=5)
print("Cross Validation score of KNN: ",cv_score_knn)
mean_accuracy_knn = sum(cv_score_knn)/len(cv_score_knn)
mean_accuracy_knn = mean_accuracy_knn*100
mean_accuracy_knn = round(mean_accuracy_knn, 2)
print("Mean accuracy of KNN: ",mean_accuracy_knn)

Cross Validation score of KNN:  [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Mean accuracy of KNN:  64.39

In [35]:
# Cross Validation of Random Forest
cv_score_rf = cross_val_score(RandomForestClassifier(), X, y, cv=5)
print("Cross Validation score of Random Forest: ",cv_score_rf)
mean_accuracy_rf = sum(cv_score_rf)/len(cv_score_rf)
mean_accuracy_rf = mean_accuracy_rf*100
mean_accuracy_rf = round(mean_accuracy_rf, 2)
print("Mean accuracy of Random Forest: ",mean_accuracy_rf)

Cross Validation score of Random Forest:  [0.7704918  0.90163934 0.78688525 0.8        0.75      ]
Mean accuracy of Random Forest:  80.18

In [36]:
models = [LogisticRegression(max_iter=1000), SVC(kernel="linear"), KNeighborsClassifier(), RandomForestClassifier()]

In [39]:
def compare_models_cross_validation():
    for model in models:
        cv_score = cross_val_score(model, X, y, cv=5)
        mean_accuracy = sum(cv_score)/len(cv_score)
        mean_accuracy = mean_accuracy*100
        mean_accuracy = round(mean_accuracy, 2)
        print("Cross validation accuracies for", model, "=", cv_score)
        print("Accuracy of the ", model, mean_accuracy)
        print("--------------------------------------------------------")

In [40]:
compare_models_cross_validation()

Cross validation accuracies for LogisticRegression(max_iter=1000) = [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Accuracy of the  LogisticRegression(max_iter=1000) 82.83
--------------------------------------------------------
Cross validation accuracies for SVC(kernel='linear') = [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Accuracy of the  SVC(kernel='linear') 82.83
--------------------------------------------------------
Cross validation accuracies for KNeighborsClassifier() = [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Accuracy of the  KNeighborsClassifier() 64.39
--------------------------------------------------------
Cross validation accuracies for RandomForestClassifier() = [0.83606557 0.86885246 0.81967213 0.78333333 0.76666667]
Accuracy of the  RandomForestClassifier() 81.49
--------------------------------------------------------